Repository Theseus-Aegis/TheseusServices, pull requests merged in 2018-04, with the labels that each got.

#77 Update make.py to 0.9, Build optionals as launchable mod folders
  tools/make.py
Labels: enhancement, tools

#78 RHS USAF Weapons Replacement
  optionals/weapons_rhs_usf/$PBOPREFIX$
  optionals/weapons_rhs_usf/CfgVehicles.hpp
  optionals/weapons_rhs_usf/CfgWeapons.hpp
  optionals/weapons_rhs_usf/README.md
  optionals/weapons_rhs_usf/config.cpp
  optionals/weapons_rhs_usf/script_component.hpp
Labels: feature request

#79 Fix Weapons RHS USAF Specialist pre-filled backpack
  optionals/weapons_rhs_usf/CfgVehicles.hpp
  optionals/weapons_rhs_usf/config.cpp
Labels: bug fix

#81 Use proper prefix name for optionals
  tools/make.py
Labels: task, tools
